<div class="container content">
  <h1>Edit User</h1>
  <div class="user-container">
    <form class="form-container">
      <div class="form-group">
        <div>
          <label for="fname">First Name</label>
          <input
            type="text"
            placeholder="Enter First Name"
            class="form-control"
            name="fname"
            required
          />
        </div>
        <div>
          <label for="lname">Last Name</label>
          <input
            type="text"
            placeholder="Enter Last Name"
            class="form-control"
            name="lname"
            required
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            placeholder="yourmail@gmail.com"
            class="form-control"
            name="email"
            required
          />
        </div>
      </div>
      <button type="button" class="btn btn-success editBtn">
        Submit
      </button>
    </form>
  </div>

  <div id="message"></div>
</div>